= simple_form_for studynote, wrapper: :vertical_input_group, validate:true, validate_pericope_order: true do |f|
  #pericopes
    - pnum = 1
    -# TODO: looks like pnum is old code to number pericopes, I think I can remove this, here and below
    -# because I am not incrementing the pnum anymore. Or did I move that to some js code?
    = f.simple_fields_for :pericopes, wrapper: :vertical_input_group do |pericope|
      = render 'pericope_fields', f: pericope, pnum: pnum
      -# - pnum += 1
    - logger.info "pnum: #{local_assigns[:pnum]}\n"
    .links
      = link_to_add_association t('add_pericope'), f, :pericopes, class: 'new btn-xs', id: 'add_pericope', render_options: {locals: {pnum: pnum += 1}}
  = f.input :title
  = f.input :note, as: :trix_editor, id: 'editor', class: 'editor'
  = f.input :tag_list, input_html: { value: studynote.tag_list.join(",") }, label: "Tags (comma-separated)"
  = f.button :submit, class: 'btn-primary', id: 'submit_form'
