<%= simple_form_for studynote, validate: true do |s|  %>
  <div id='pericopes'>
    <%= render partial: "pericopes/form", locals: { s: s } %>
    <%= link_to t('add_pericope'), new_pericope_path, remote: true,
                id: "add_pericope" %>
  </div>
  <%= s.input :title %>

  <%= s.input :note, :input_html => {:rows => 10} %>
  <%= s.button :submit, class: "btn-primary" %>
<% end %>

