= simple_form_for studynote, wrapper: :vertical_input_group, validate:true, validate_pericope_order: true do |f|
  #pericopes
    - pnum = 1
    = f.simple_fields_for :pericopes, wrapper: :vertical_input_group do |pericope|
      = render 'pericope_fields', f: pericope, pnum: pnum
  .links
    = link_to_add_association t('pericope'), f, :pericopes, class: 'new btn-xs mb-3', id: "add_pericope"
  = f.input :title, class: 'mb-3', label: false, placeholder: 'titel'
  = f.input :note, as: :trix_editor, id: 'editor', class: 'editor mb-3'
  = f.input :tag_list, class: 'mb-3', input_html: { value: studynote.tag_list.join(", ") }, label: "Tags (comma-separated)"
  = f.button :submit, class: 'btn-primary mb-3', id: 'submit_form'
