<div id="studynote">
  <% title(@studynote.note, t('activerecord.models.studynote', count: 2)) %>

  <header>
    <h1><%= @studynote.title %></h1>
    <ul class="actions">
      <% if policy(@studynote).update? %>
        <li><%= link_to t(:edit_item, item: Studynote.model_name.human), edit_studynote_path(@studynote), class: "edit" %></li>
      <% end %>
      <% if policy(@studynote).destroy? %>
        <li><%= link_to t(:delete_item, item: Studynote.model_name.human), studynote_path(@studynote),
                        method: :delete,
                        data: { confirm: t(:sure_to_delete_studynote) },
                        class: "delete" %></li>
      <% end %>
    </ul>
  </header>

  <header>
    <p><% @studynote.pericopes.each do |pericope| %>
      <%= pericope.name %>
          |
    <% end %></p>
    <p><%= simple_format @studynote.note %></p>
  </header>
  <table id="attributes">
    <tr>
      <th><%= t('author') %>: </th>
      <td><%= @studynote.author.username %></td>
    </tr>
    <tr>
      <th><%= t('created') %>: </th>
      <td><%= time_ago_in_words(@studynote.created_at) %> <%= t('ago') %></td>
    </tr>
  </table>

    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>

</div>
