<% title(@biblebook.name, Biblebook.model_name.human(count: 2).capitalize) %>

<header>
  <h1><%= @biblebook.name %></h1>
  <ul class="actions">
    <li><%= link_to t(:edit_biblebook), edit_admin_biblebook_path(@biblebook), class: 'edit' %></li>
    <li><%= link_to t(:delete_item, item: Biblebook.model_name.human), admin_biblebook_path(@biblebook),
                    method: :delete,
                    data: { confirm: t(:sure_to_delete, item: Biblebook.model_name.human) },
                    class: 'delete' %></li>
  </ul>
</header>

<header>
  <h2><%= t(:chapters).capitalize %></h2>
  <ul class="actions">
    <li><%= link_to t(:add_chapter), new_admin_biblebook_chapter_path(@biblebook),
                    class: 'new' %></li>
  </ul>
</header>

<ul id="chapters">
  <% @biblebook.chapters.each do |chapter| %>
      <li>
        <%= link_to chapter.chapter_number, [:admin, @biblebook, chapter] %>
        <%= " - #{chapter.description}" if chapter.description.present? %>
      </li>
  <% end %>
</ul>
