<div id="chapter">
  <header>
    <h1><%= @biblebook.name %></h1>
    <ul class="actions">
      <li><%= link_to t(:delete_chapter), [@biblebook, @chapter],
                      method: :delete,
                      data: { confirm: t(:sure_to_delete) },
                      class: "delete" %>
      </li>
    </ul>
  </header>
  <header>
    <h2><%= "#{t(:chapter).capitalize} #{@chapter.chapter_number}" %></h2>
  </header>
  <%= simple_format(@chapter.description) %>

  <header>
    <h2><%= t(:verses) %></h2>
    <ul class="actions">
      <li><%= link_to t(:new_verse), new_biblebook_chapter_verse_path(@biblebook, @chapter),
                      class: "new" %></li>
    </ul>
  </header>

  <ul id="verses">
    <% @chapter.verses.each do |verse| %>
        <li>
          <%= link_to verse.verse_number, [@biblebook, @chapter, verse] %>
          <%= if verse.verse_text.present?
                " - #{verse.verse_text}"
              end
          %>
        </li>
    <% end %>
  </ul>
</div>




