<% title(@biblebook.name, t(:biblebooks)) %>

<header>
  <h1><%= @biblebook.name %></h1>
  <ul class="actions">
    <li><%= link_to t(:edit_bibilebook), edit_biblebook_path(@biblebook), class: "edit" %></li>
    <li><%= link_to t(:delete_biblebook), biblebook_path(@biblebook),
                    method: :delete,
                    data: { confirm: t(:sure_to_delete) },
                    class: "delete" %></li>
  </ul>
</header>

<header>
  <h2>Chapters</h2>
  <ul class="actions">
    <li><%= link_to t(:add_chapter), new_biblebook_chapter_path(@biblebook),
                    class: "new" %></li>
  </ul>
</header>

<ul id="chapters">
  <% @biblebook.chapters.each do |chapter| %>
      <li>
        <%= link_to chapter.chapter_number, [@biblebook, chapter] %>
        <%= if chapter.description.present?
              " - #{chapter.description}"
            end
        %>
      </li>
  <% end %>
</ul>
