.tab-content#myTabsContent
  #studynotes.tab-pane.fade.in.active
    <!-- Content for Tab 1 -->
    #mainAccordion.accordion
    = render :partial => 'testament_accordion',
      locals: { testament_name: 'old',
                testament_counts: testament_counts["oud"],
                testament: ot,
                biblebook_counts: biblebook_counts }
    -# = render :partial => 'testament_accordion',
      locals: { testament_name: 'new',
                testament_counts: testament_counts["nieuw"],
                testament: nt,
                biblebook_counts: biblebook_counts }

  -# #tags.tab-pane.fade
  -#   <!-- Content for Tab 2 -->
  -#   - ActsAsTaggableOn::Tag.most_used
  -#   %ul
  -#     - @tags.order(:name).each do |tag|
  -#       %li
  -#         - if tag.taggings_count == 1
  -#           - studynotes = Studynote.tagged_with tag.name
  -#           - studynote = studynotes.first
  -#           -# = studynote.title
  -#           = link_to "#{tag.name} (#{studynotes.count})", studynote_path(studynote)
  -#         - else
  -#           = "#{tag.name} (#{tag.taggings_count})"
  -#
  -#         #tags.tab-pane.fade
