= s.simple_fields_for :pericopes, child_index: index do |p|
  = p.input :name, label: "#{t('simple_form.labels.pericopes.name')} #{index += 1}", id: "#{index}", placeholder: "Genesis 1:1-3:21", autofocus: true
