= s.simple_fields_for :pericopes, child_index: index do |pericope|
  = pericope.input :name, label: "#{t('simple_form.labels.pericopes.name')} #{index += 1}",
      id: "#{index}",
      placeholder: "Genesis 1:1-3:21",
      autofocus: true
  -#- if index > 1
  -#  = link_to t(:delete_item, item: Pericope.model_name.human),
  -#    edit_pericope_path(@studynote.pericopes[index-1].id), method: 'delete',
  -#    remote: true,
  -#    id: "remove_pericope",
  -#    data:  {confirm: t(:sure_to_delete_pericope),
  -#    index: index }
