.accordion-item
  %h2.accordion-header{id: "#{testament_name}_header"}
    %button.accordion-button{"aria-controls" => "collapse_#{testament_name}", "aria-expanded" => "true", "data-bs-target" => "#collapse_#{testament_name}", "data-bs-toggle" => "collapse", type: "button"}
      - counts = testament_counts || 0
      = "#{t("#{testament_name}_testament")}  (#{t("studynote", count: counts)})"
  .accordion-collapse.collapse.show{id: "collapse_#{testament_name}", 'aria-labelledby': "#{testament_name}_header", 'data-bs-parent': '#mainAccordion'}
    .accordion-body
      / nested accordion
      - testament.each_with_index do |book, index|
        - study_count = biblebook_counts[book.name] || 0
        .accordion{id:"#{testament_name}_accordion"}
          .accordion-item
            - bookname = book.name.parameterize
            %h2.accordion-header{id: "#{testament_name}-#{bookname}_header"}
              %button.accordion-button{"aria-controls" => "collapse_#{testament_name}_#{bookname}", "aria-expanded" => "true", "data-bs-target" => "#collapse_#{testament_name}_#{bookname}", "data-bs-toggle" => "collapse", type: "button"}
                #{book.name} (#{study_count})
            .accordion-collapse.collapse.show{id: "collapse_#{testament_name}_#{bookname}", "aria-labelledby" => "#{testament_name}-#{bookname}_header", "data-bs-parent" => "##{testament_name}_accordion"}
              .accordion-body
                = render :partial => 'book_table', locals: { book: book, bookname: bookname }
