.card
  .card-header
    .mb-0.testaments
      - collapse_label = "#collapse_#{testament_name}"
      %button.btn.btn-primary{'type': 'button', 'data-toggle': 'collapse', 'data-target': collapse_label, 'aria-expanded': 'true', 'aria-controls': "collapse_#{testament_name}"}
        - counts = testament_counts || 0
        = "#{t("#{testament_name}_testament")}  (#{t("studynote", count: counts)})"
      .collapse.show{id: collapse_label, 'aria-labelledby': "heading_#{testament_name}", 'data-parent': '#mainAccordion'}
        .card-body
        / nested accordion
      - testament.each_with_index do |book, index|
        - study_count = biblebook_counts[book.name] || 0
        .accordion{id:"biblebook_accordion#{index}"}
          .accordion-item
            - bookname = book.name.parameterize
            %h2.accordion-header{id: "##{testament_name}-#{bookname}"}
              %button.accordion-button{"aria-controls" => "collapse_#{testament_name}_#{bookname}", "aria-expanded" => "true", "data-bs-target" => "#collapse_#{testament_name}_#{bookname}", "data-bs-toggle" => "collapse", type: "button"}
                %a.collapsed{"data-parent": "##{testament_name}", "data-toggle": 'collapse', href: "#{bookname}"}
                  {"#{book.name} (#{study_count})"}
            .accordion-collapse.collapse.show{id: "##{bookname}", "aria-labelledby" => "#{testament_name}-#{bookname}", "data-bs-parent" => "#biblebook_accordion"}
              .accordion-body
                = render :partial => 'book_table', locals: { book: book, bookname: bookname }
