<header>
  <h1><%= t(:pericopes) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div id="pericopes">
  <table id="pericopes", class="sortable" >
    <tr>
      <th class="sorttable_numeric"> <%= t('pericope') %></th>
      <th> <%= t('author') %></th>
      <th> <%= t('studynote') %></th>
    </tr>

    <% i=0 %>

    <% @pericope.each do |pericope| %>
      <tr>
        <td sorttable_customkey = <%= @sequence[i] %> > <%= pericope.name %></td>
        <% i+=1 %>
        <td><% sn = Studynote.find(pericope.studynote_id) %>
          <%= sn.author.username %></td>
        <td><%= link_to sn.title, sn %></td>
      </tr>
    <% end %>
  </table>
</div>
