<header>
  <h1><%= t(:pericopes) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="ot">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
          Oude Testament
        </a>
      </h4>
    </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ot">

        <!-- nested accordion -->

          <% @ot.each_with_index do |book, index| %>
              <% book_href = "\#bookot#{index}" %>
              <% book_control = "bookot#{index}" %>
              <% study_count = @biblebook_counts[book.name] || 0 %>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="ot" >
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#ot" href=<%= book_href %> aria-expanded="false" aria-controls=<%= book_control %>>
                    <%= "#{book.name} (#{study_count})" %>
                  </a>
                </h4>
              </div>
              <div id=<%= book_control %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= book_control %>>

                <table>
                  <tr>
                    <th>Pericoop</th>
                    <th>Auteur</th>
                    <th>Titel</th>
                  </tr>
                  <% Pericope.where(biblebook_name: book.name).order(sequence: :asc).each do |study| %>
                    <tr>
                      <td><%= study.name %></td>
                      <td><%= study.studynote.author.username %></td>
                      <td><%= link_to study.studynote.title, study.studynote %></td>
                    </tr>
                  <% end %>
                </table>

              </div>
            </div>

          <% end %>

          <!-- end nested accordion -->

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="nt">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Nieuwe Testament
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nt">

      <!-- nested accordion -->

      <% @nt.each_with_index do |book, index| %>
          <% book_href = "\#booknt#{index}" %>
          <% book_control = "booknt#{index}" %>
          <% study_count = @biblebook_counts[book.name] || 0 %>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="nt" >
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#ot" href=<%= book_href %> aria-expanded="false" aria-controls=<%= book_control %>>
                  <%= "#{book.name} (#{study_count})" %>
                </a>
              </h4>
            </div>
            <div id=<%= book_control %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= book_control %>>

            <table>
              <tr>
                <th>Pericoop</th>
                <th>Auteur</th>
                <th>Titel</th>
              </tr>
              <% Pericope.where(biblebook_name: book.name).order(sequence: :asc).each do |study| %>
                  <tr>
                    <td><%= study.name %></td>
                    <td><%= study.studynote.author.username %></td>
                    <td><%= link_to study.studynote.title, study.studynote %></td>
                  </tr>
              <% end %>
            </table>

          </div>
          </div>

      <% end %>

      <!-- end nested accordion -->

    </div>
  </div>
</div>
