<header>
  <h1><%= t(:pericopes) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div id="pericopes">
  <table id="pericopes", class="sortable" >
    <tr>
      <th class="sorttable_numeric"> <%= t('pericope') %></th>
      <th> <%= t('author') %></th>
      <th> <%= t('studynote') %></th>
    </tr>

    <% @pericope.each do |pericope| %>
      <tr>
        <td sorttable_customkey = <%= pericope[:sequence] %> > <%= pericope[:book] %></td>
        <td> <%= pericope[:author] %> </td>
        <td><%= link_to pericope[:title], pericope[:note] %></td>
      </tr>
    <% end %>
  </table>
</div>


