%header
  %h1
    = t('activerecord.models.studynote', count: 2)
  %ul.actions
    %li
      = link_to t(:new_studynote), new_studynote_path, class: 'new', id: 'new_studynote'

.container
  .row
    .col-md-8
      = render :partial => 'accordion',
  locals: { testament_counts: testament_counts, ot: ot, nt: nt, biblebook_counts: biblebook_counts }
    .col-md-4
      Tags

-# #tags.tab-pane.fade
  -#   <!-- Content for Tab 2 -->
  -#   - ActsAsTaggableOn::Tag.most_used
  -#   %ul
  -#     - @tags.order(:name).each do |tag|
  -#       %li
  -#         - if tag.taggings_count == 1
  -#           - studynotes = Studynote.tagged_with tag.name
  -#           - studynote = studynotes.first
  -#           -# = studynote.title
  -#           = link_to "#{tag.name} (#{studynotes.count})", studynote_path(studynote)
  -#         - else
  -#           = "#{tag.name} (#{tag.taggings_count})"
  -#
  -#         #tags.tab-pane.fade
