<header>
  <h1><%= t('activerecord.models.studynote', count: 2) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="ot">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
          <% ot_counts = @testament_counts["oud"] || 0 %>
          <H2><%= "#{t('old_testament')}  (#{t("studynote", :count => ot_counts)})" %></H2>
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse <%= ot_counts > 0 ? 'collapse.show' : 'collapse' %>" role="tabpanel" aria-labelledby="ot">

        <!-- nested accordion -->

          <% @ot.each_with_index do |book, index| %>
              <% book_href = "\#bookot#{index}" %>
              <% book_control = "bookot#{index}" %>
              <% study_count = @biblebook_counts[book.name] || 0 %>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="ot" >
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#ot" href=<%= book_href %> aria-expanded="false" aria-controls=<%= book_control %>>
                    <%= "#{book.name} (#{study_count})" %>
                  </a>
                </h4>
              </div>
              <div id=<%= book_control %> class="panel-collapse <%= study_count > 0 ? 'collapse.show' : 'collapse' %>" role='tabpanel' aria-labelledby=<%= book_control %>>

                <table id=<%= book.name %>>
                  <tr>
                    <th><%= t('activerecord.models.pericope', count: 1) %></th>
                    <th><%= t('author') %></th>
                    <th><%= Studynote.human_attribute_name(:title) %></th>
                  </tr>
                  <% Pericope.where(biblebook_name: book.name).order(sequence: :asc).each do |pericope| %>
                    <tr>
                      <td><%= pericope.name %></td>
                      <td><%= pericope.studynote.author.username %></td>
                      <td><%= link_to pericope.studynote.title, pericope.studynote %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>

          <% end %>

          <!-- end nested accordion -->

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="nt">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          <% nt_counts = @testament_counts["nieuw"] || 0 %>
          <H2><%= "#{t('new_testament')} (#{t("studynote", :count => nt_counts)})" %></H2>
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse <%= nt_counts > 0 ? 'collapse.show' : 'collapse' %>" role="tabpanel" aria-labelledby="nt">

      <!-- nested accordion -->

      <% @nt.each_with_index do |book, index| %>
          <% book_href = "\#booknt#{index}" %>
          <% book_control = "booknt#{index}" %>
          <% study_count = @biblebook_counts[book.name] || 0 %>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="nt" >
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#ot" href=<%= book_href %> aria-expanded="false" aria-controls=<%= book_control %>>
                  <%= "#{book.name} (#{study_count})" %>
                </a>
              </h4>
            </div>
            <div id=<%= book_control %> class="panel-collapse <%= study_count > 0 ? 'collapse.show' : 'collapse' %>" role="tabpanel" aria-labelledby=<%= book_control %>>

            <table id=<%= book.name %>>
              <tr>
                <th><%= t('activerecord.models.pericope', count: 1) %></th>
                <th><%= t('author') %></th>
                <th><%= Studynote.human_attribute_name(:title) %></th>
              </tr>
              <% Pericope.where(biblebook_name: book.name).order(sequence: :asc).each do |study| %>
                  <tr>
                    <td><%= study.name %></td>
                    <td><%= study.studynote.author.username %></td>
                    <td><%= link_to study.studynote.title, study.studynote %></td>
                  </tr>
              <% end %>
            </table>

          </div>
        </div>

      <% end %>

      <!-- end nested accordion -->

    </div>
  </div>
</div>
