<div id="chapter">
  <header>
    <h1><%= @biblebook.name %></h1>
    <ul class="actions">
      <li><%= link_to t(:delete_item, item: Chapter.model_name.human), [:admin, @biblebook, @chapter],
                      method: :delete,
                      data: { confirm: t(:sure_to_delete, item: Chapter.model_name.human) },
                      class: "delete" %>
      </li>
      <li><%= link_to t(:edit_item, item: Chapter.model_name.human), edit_admin_biblebook_chapter_path(@biblebook, @chapter), class: "edit" %></li>
    </ul>
  </header>

  <header>
    <!--<h2><%= "#{t('activerecord.models.chapter', count: 1).capitalize} #{@chapter.chapter_number}" %></h2>-->
    <h2><%= "#{t('activerecord.models.chapter', count: 1).capitalize} #{@chapter.chapter_number}" %></h2>
  </header>
  <%= simple_format(@chapter.description) %>
  <%= @chapter.nrofverses %>

</div>




