%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "/"}
    %img{alt: "BSP logo", src: "#{image_path('bsp_logo.png')}"}
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: page_path('about')} About
      - if user_signed_in?
        %li.nav-item
          %a.nav-link{href: edit_user_registration_path}= t('edit_account')
        %li.nav-item
          = link_to t('sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %li.nav-item
          %a.nav-link{href: new_user_session_path}= t('sign_in')
        %li.nav-item
          %a.nav-link{href: new_user_registration_path}= t('sign_up')

  - if user_signed_in?
    %div.ml-auto.navbar-text
      = t("signed_in_as")
      = current_user.email

