<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <% if content_for?(:title) %>
          <%= yield(:title) %>
      <% else %>
          <%= t(:biblestudy_platform) %>
      <% end %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="sorttable.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
